<h1>{{ title }}</h1>

<table>
  <tr>
    <td>학과ID</td>
    <td>학과명</td>
  </tr>
  {{#each department}}
    <form method="post">
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td style="border: none; margin-left: 10px;">
          <button 
            style="margin-left: 10px;" 
            name='delBtn' 
            type="submit" 
            value="{{id}}" 
            formaction="/delete"
          >
          delete
          </button>
        </td>
      </tr>    
    </form>
  {{/each}}
</table>
