<h1>{{ title }}</h1>

<table>
  <tr>
    <td>이름</td>
    <td>학과</td>
    <td>E-mail</td>
  </tr>
  {{#each student}}
  <tr>
    <td>{{name}}</td>
    <td>{{major}}</td>
    <td>{{email}}</td>
  </tr>
  {{/each}}
</table>
