{{!-- views/layouts/main.hbs 확인 --}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>도서관리 시스템</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {{{body}}}
</body>
</html>